#copytext {
    background-color: green;
}
#copytext:hover {
    color: white;
}
#copytext:active {
    background-color: blue;
}
.alert {
    font-family: "Lucida Console", "Courier New", monospace;
}